{%extends 'layout.html'%}
{%block content%}
<html>
  <head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
      <h1>Just some random Things</h1>
      {%set new_list=[] %}
         {%for i in user%}
            {{new_list.append(i.salary)}}
         {%endfor%}

        
      <div class= "container">
            <div class="chart-container" style="position: relative; height:500px; width:500px">
                <div class="card-body">
                     <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--JavaScript at end of body for optimized loading-->
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'My First dataset',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{new_list}}
        }]
    },

    

    // Configuration options go here
    options: {}
});
        </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
  
</html>
{%endblock%}
