{%extends 'layout.html'%}
{%block content%}
<html>
  <head>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="container">
      
    </div>
      <!-- {%set new_list=[] %}
         {%for i in user%}
            {{new_list.append(user[i])}}
         {%endfor%} -->

        
      <div class= "container" style="height:360px; width:715px">
        <h5 style="margin-bottom: 40px;">Average Salary across Age </h5>
            <div class="chart-container" style="height:100px; width:700px">
                <div class="card">
                     <canvas id="myChart" width="400px" height="250px"></canvas>
                </div>
            </div>
        </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <!--JavaScript at end of body for optimized loading-->
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

    // The data for our dataset
    data: {
        labels: {{age}},
        datasets: [{
            label: 'Average Salary Per Age Group',
            backgroundColor: 'rgb(5, 123, 250	)',
            borderColor: 'rgb(5, 123, 250	)',
            data: {{user}}
        }]
        
    },

    

    // Configuration options go here
    // options: {}
    options : {
  scales: {
    yAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Average Salary'
      }
    }],

    xAxes: [{
      scaleLabel: {
        display: true,
        labelString: 'Age'
      }
    }]
    

  }     
}
});
        </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
  
</html>
{%endblock%}
